* {
  box-sizing: border-box;
}
body {
  background-color: rgb(243, 243, 243);
}

.mainContainer {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 50%;
  min-width: 360px;
}

/* Navbar */
header {
  padding: 10px 40px 5px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #a3c791;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.logoLink {
  width: 160px;
}
.logo {
  width: 100%;
}

.cigarSearch {
  width: 10%;
}

.cigarSearch input {
  width: 100%;
  padding: 8px 4px;
  border-radius: 20px;
  border: none;
}


.navLinks a {
  padding: 0 40px;
  color: white;
  text-decoration: none;
  font-size: 18px;
}

.navLinks button {
  padding: 8px;
  background-color: rgba(214, 128, 36, 0.858);
  color: white;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}

.navLinks button:hover{
  padding: 8px;
  background-color: rgba(214, 128, 36, 0.685);
  color: white;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}

/* Form Styling */
.formContainer {
  display: flex;
  width: 100%;
  min-width: 260px;
  margin: 40px 0;
}

form {
  width: 100%;
}

input[type="text"], input[type="password"] {
  margin: 10px 0;
  padding: 8px;
  display: flex;
  border-radius: 6px;
  border: 1px solid lightgray;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
  font-size: 16px;
}

.description {
  display: flex;
  flex-direction: column;
}

.formContainer textarea {
  width: 40%;
  height: 120px;
  margin: 10px 0;
  padding: 6px;
  min-width: 320px;
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 6px;
  border: 1px solid lightgray;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
}

.formContainer select {
  border-radius: 6px;
  border: 1px solid lightgray;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
}

.fileInputContainer {
  display: flex;
  align-items: center;
}

input[type="file"] {
  width: 200px;
  margin-bottom: 6px;
  border: none;
  padding: 6px 0;
  
}

button {
  padding: 10px;
  margin: 10px 10px 0 0;
  background-color: #a3c791;
  color: white;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}

button:hover {
  background-color: #a3c791cf;
}
.cigarLabel {
  display: flex;
  width: 100%;
}

.cigarLabel input {
  width: 90%;
}

select {
  padding: 6px;
}

.errorMessage {
  padding: 6px;
  font-size: small;
  color: rgb(195, 0, 0);
}

.imgWarning {
  padding: 6px;
  margin-bottom: 6px;
  font-size: small;
  color: rgb(221, 114, 0);
}

/* Display Area Styling */

hr {
  width: 100%;
  min-width: 300px;
  margin: 15px 0 45px 0;
}

.displayContainer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.singleCigar {
  display: flex;
  flex-direction: column;
  width: 48%;
  min-width: 300px;
  margin-bottom: 45px;
  padding: 60px;
  border-radius: 10px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
}

.description {
  min-height: 100px;
}

.cigarHeader {
  width: 100%;
}

.cigarImg {
  width: 100%;
  height: 250px;
  object-fit: cover;
  border-radius: 6px;
}

.displayContainer p {
  min-width: 260px;
}

.displayBtnContainer {
  width: 100%;
  display: flex;
}

.profileLink {
  display: flex;
  justify-content: center;
}

.profileLink a {
  margin-left: 6px;
  text-decoration: none;
  color: black;
}

.oneCigarLink {
  color: black;
  text-decoration: none;
  font-weight: bold;
}

.postedLink {
  display: flex;
  justify-content: center;
  align-items: center;
}
/* Display One Page */

.commentContainer {
  width: 100%;
  max-width: 650px;
  margin: 0 auto;
}

.commentsHeader {
  display: flex;
  justify-content: space-evenly;
}

.commentTextarea {
  width: 100%;
  min-width: 260px;
  height: 200px;
  padding: 6px;
  border: 1px solid lightgray;
  border-radius: 6px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
}

.commentBtn {
  margin-bottom: 26px;
}

.singleComment {
  min-width: 260px;
  margin: 20px 0;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 6px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
}

.likeBtn {
  width: 80px;
}

/* Edit Page */

.editContainer, .editContainer form {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  text-align: center;
}

.editContainer .cigarLabel {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.editContainer textarea {
  width: 100%;
  min-width: 410px;
  
}



/* Login/Registration */

.inputContainer {
  width: 10%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}


/* Profile */
.profileContainer {
  width: 50%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
