.container {
    width: 30%;
    min-width: 240px;
    padding: 1rem;
    margin: .25rem .5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid rgb(226 232 240);
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.cardHeader {
    font-size: 18px;
    font-weight: bold;
    color: #9aab89;
}

.cardImg {
    width: 50%;
    display: block;
    margin: 0 auto;
    
}

.description {
    padding: 10px 20px;
}

.rating {
    font-weight: bold;
    padding: 0 20px;
}