.container {
    width: 30%;
    min-width: 240px;
    padding: 1rem;
    margin: .25rem .5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: var(--border);
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
    background-color: var(--card-bg);
}

.cardHeader {
    display: flex;
    justify-content: space-between;
}

.cardHeaderText {
    font-size: 18px;
    font-weight: bold;
    color: var(--primary);
}

.cardMenu {
    width: 40px;
    height: 40px;
}

.cardImg {
    width: 50%;
    display: block;
    margin: 0 auto;
    
}

.description {
    padding: 10px 20px;
}

.rating {
    font-weight: bold;
    padding: 0 20px;
}