.formStyle {
    width: 30%;
    min-width: 260px;
    height: 20rem;
    padding: 2rem 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 1rem auto;
}

.cigarLabel {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.inputBox {
    display: flex;
    flex-direction: column;
    margin: .4rem;
}

