body {
  background-color: rgb(243, 243, 243);
}

.mainContainer {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 50%;
}

/* Navbar */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #9aab89;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.logo {
  padding: 16px 40px;
}

.cigarSearch {
  width: 600px;
}

.cigarSearch input {
  width: 50%;
  padding: 10px;
  border-radius: 20px;
  border: none;
}

.navLinks a {
  padding: 0 40px;
}

/* Form Styling */
.formContainer {
  display: flex;
  width: 100%;
  min-width: 260px;
  margin: 40px 0;
}

form {
  width: 100%;
}

input[type="text"] {
  height: 20px;
  margin: 10px 0;
  display: flex;
  border-radius: 6px;
  border: 1px solid lightgray;
}

.description {
  display: flex;
  flex-direction: column;
}

.formContainer textarea {
  width: 40%;
  height: 120px;
  margin: 10px 0;
  min-width: 250px;
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 6px;
  border: 1px solid lightgray;
}

.formContainer select {
  border-radius: 6px;
  border: 1px solid lightgray;
}

.fileInputContainer {
  display: flex;
  align-items: center;
}

input[type="file"] {
  width: 200px;
  border: none;
  padding: 6px 0;
}

button {
  padding: 10px;
  margin: 10px 10px 0 0;
  background-color: #9AAB89;
  color: white;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}

button:hover {
  background-color: #9aab89b0;
}
.cigarLabel {
  display: flex;
  width: 100%;
}

.cigarLabel input {
  width: 90%;
}

select {
  padding: 6px;
}

.errorMessage {
  padding: 6px;
  font-size: small;
  color: rgb(195, 0, 0);
}

.imgWarning {
  padding: 6px;
  font-size: small;
  color: rgb(221, 114, 0);
}

/* Display Area Styling */

hr {
  width: 100%;
  min-width: 300px;
  margin: 20px 0;
}

.displayContainer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.singleCigar {
  display: flex;
  flex-direction: column;
  width: 40%;
  min-width: 300px;
  margin: 16px;
  padding: 26px;
  border-radius: 10px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
}

.cigarHeader {
  width: 100%;
}

.cigarImg {
  width: 260px;
}

.displayContainer p {
  min-width: 260px;
}

.displayBtnContainer {
  width: 100%;
  display: flex;
  justify-content: start;
}

.oneCigarLink {
  color: black;
  text-decoration: none;
  font-weight: bold;
}

.postedLink {
  display: flex;
  justify-content: center;
  align-items: center;
}
/* Display One Page */

.commentContainer {
  width: 50%;
  margin: 0 auto;
  
}

.commentsHeader {
  display: flex;
  justify-content: space-evenly;
}

.commentTextarea {
  width: 100%;
  height: 200px;
  padding: 6px;
  border: 1px solid lightgray;
  border-radius: 6px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
}

.commentBtn {
  margin-bottom: 26px;
}

.singleComment {
  margin: 20px 0;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 6px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
}

.likeBtn {
  width: 80px;
}

/* Login/Registration */

.inputContainer {
  width: 10%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}
