header {
  display: flex;
  align-items: center;
  background-color: #9AAB89;
}

.logo {
  padding: 16px 40px;
}

.cigarSearch {
  width: 600px;
  margin: 0 auto;
}

.cigarSearch input {
  width: 50%;
  padding: 10px;
  border-radius: 20px;
  border: none;
}