body {
  margin: 6rem 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --bg:  rgb(243 244 246);
  --primary: #9aab89;
  --border: 1px solid rgb(226 232 240);
  --border-radius: 8px;
  --box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  --card-bg: white;
}